<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <appSettings>
    <add key="VideoExtensions" value="3g2; 3gp; asf; avchd; avi; divx; flv; m2ts; m4v; mkv; mov; mp4; mpeg; mpg; mts; ogv; ts; vob; webm; wmv" />
    <add key="PictureExtensions" value="avif; bmp; cr2; dng; gif; heic; heif; jpeg; jpg; nef; orf; pbm; pgm; png; ppm; raf; raw; sr2; tiff; webp" />
    <add key="AudioExtensions" value="AAIF:false; AIFF:false; aac:false; aiff:false; alac:false; flac:false; m4a; mp3; mp4:false; ogg:false; opus:false; pcm:false; wav:false; wma:false; wv:false" />
    <!--all the extensions that are appended with :false will not be default selected-->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <nlog>
    <targets>
      <target name="file" type="File" fileName="${basedir}\ErrorLog.txt" />
    </targets>
    <rules>
      RandomFileCopier
      <logger name="*" level="Error" maxlevel="Error" writeTo="file" /></rules>
  </nlog>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="CommonServiceLocator" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.7.0" newVersion="2.0.7.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>