<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  <appSettings>
    <add key="VideoExtensions" value="avi; vob; mov; mkv; mp4; wmv; 3gp; 3g2"/>
    <add key="AudioExtensions" value="AAIF:false; AIFF:false; mp3; pcm:false; wav:false; wma:false"/>
    <!--all the extensions that are appended with :false will not be default selected-->
  </appSettings>
  <nlog>
    <targets>
      <target name="file" type="File" fileName="${basedir}\ErrorLog.txt"/>
    </targets>
    <rules>
      RandomFileCopier
      <logger name="*" level="Error" maxlevel="Error" writeTo="file"/>
    </rules>
  </nlog>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
    </startup>
</configuration>
