<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <appSettings>
    <add key="VideoExtensions" value="avi; vob; mov; mkv; mp4; wmv; 3gp; 3g2" />
    <add key="AudioExtensions" value="AAIF:false; AIFF:false; mp3; pcm:false; wav:false; wma:false; m4a" />
    <add key="PictureExtensions" value="jpg; jpeg; png; gif" />
    <!--all the extensions that are appended with :false will not be default selected-->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <nlog>
    <targets>
      <target name="file" type="File" fileName="${basedir}\ErrorLog.txt" />
    </targets>
    <rules>
      RandomFileCopier
      <logger name="*" level="Error" maxlevel="Error" writeTo="file" /></rules>
  </nlog>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="CommonServiceLocator" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.5.0" newVersion="2.0.5.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>